.editor-wrapper,
.editor-container {
  --text-primary: #171717;
  $tableBorderColor: #eaeaea;
  $tableHeaderBgColor: #f1f1f1;
  $tableSelectedBorderColor: #eaeaea;
  $tableSelectedCellBgColor: #e2e2e2;
  $tableSelectedControlBgColor: #171717;
  $tableResizeHandleBgColor: #171717;

  //标题
  h1 {
    font-size: 26px;
    line-height: 39px;
    margin-top: 36px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  h2 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    line-height: 39px;
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  * + p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 300;
  }

  ul,
  ol {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-inline-start: 28px;
    color: var(--text-primary);
    & > li {
      & > p {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        padding: 8px 0;
      }
      & > ul,
      & > ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // 无序排序序号
  ul:not([data-type="taskList"]) {
    li::marker {
      width: 20px;
      height: 20px;
    }
    li {
      // 图片
      // list-style-image: url('');
      /* OR */
      list-style-type: " - ";
      // padding-inline-start: 10px;
    }
  }
  // 有序排序序号
  ol,
  ol ol ol ol,
  ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
  }
  ol ol,
  ol ol ol ol ol,
  ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
  }
  ol ol ol,
  ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-roman;
  }
  // task list
  ul[data-type="taskList"] {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-inline-start: 4px;
    color: var(--text-primary);
    & > li[data-checked="true"] div > p {
      text-decoration: line-through;
      opacity: 0.5;
    }
    & > li {
      display: flex;
      align-items: baseline;
      & > label {
        margin-right: 2px;
        input[type="checkbox"] {
          width: 16px;
          height: 16px;
          margin: 4px 6px;
          accent-color: #000;
        }
      }
      & > div > p {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        padding: 8px 0;
      }
      & ul[data-type="taskList"] {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  // 加粗
  b,
  strong {
    font-weight: 500;
  }
  // 下划线
  u {
    text-decoration: underline;
    text-decoration-color: var(--text-primary);
  }
  //链接
  a {
    color: #0055ff;
    &:hover {
      text-decoration: underline;
      text-decoration-color: #0055ff;
    }
  }
  // image
  .image-desc {
    margin-top: 8px;
    margin-bottom: 28px;
    color: var(--gray-text-200);
    font-size: 12px;
    font-weight: 400;
    min-width: 400;
  }
  // 分割线
  hr {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #ececec;
    overflow: hidden;
  }
  // 引用
  blockquote {
    word-break: break-all;
    margin: 24px 0;
    padding: 12px 0;
    background: #f9f9f9;
    display: flex;
    padding-inline-end: 16px;
    &::before {
      content: " ";
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      margin-right: 12px;
      margin-left: 16px;
      margin-top: -2px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAATVJREFUOE/tk99LwzAQxy9pYxLadV3aLII/hsMHBf3//xcVH6Q6tmYr3WCzhbSSsUAtFXzzxTzlvnf34fI9guD7waPRaMI5j6uq2pRlWfTyLqRJkqQIoRB1Cniaptee551Z7XA4vG+3200fEIbhNAiCKQAcex2ACSHmhBDPNQwBpJTnGGPZhVoAklLeYozZKdG2bZuvVisNAMYVSylDjPGNi40xFQAsUBzHMaX0yiXqun4riqLsj66UmgNAYHVjTK21frFXC5hRSiObaJrmM8/z5wHjfKXUvdP3+/3HbrdbHz1IkuTO931yImut9aIPEEJEhJCZ05fL5RMA2CcAUko9ODONMWvG2HF1WZbVzoPxeDxhjF12wK+EkMYBHod23d1CFEWCc34xVGcn+Af8uQc/fNdfy1+fwJ4cLmUwaQAAAABJRU5ErkJggg==")
        no-repeat center center;
    }
  }
  // table
  .tableWrapper {
    position: relative;
    margin: 28px 0px;

    &.has-focus {
      .scrollWrapper {
        margin-top: -20px;
      }
    }
  }

  .scrollWrapper {
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 28px;
    padding-top: 28px;
    padding-bottom: 2px;
    margin-left: -28px;
    margin-top: -20px;
    margin-bottom: -8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-transition: border 250ms ease-in-out 0s;
    transition: border 250ms ease-in-out 0s;
    &::-webkit-scrollbar {
      width: 151px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #999999;
      border-radius: 2px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: auto;
    margin: 0;

    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }

    tr {
      position: relative;
      border-bottom: 1px solid $tableBorderColor;
    }

    th {
      background: $tableHeaderBgColor;
      font-size: 12px;
      font-family: LexendDeca-SemiBold, LexendDeca;
      font-weight: 600;
      color: #666666;
      line-height: 18px;
    }
    td {
      font-size: 14px;
      font-family: LexendDeca-Light, LexendDeca;
      font-weight: 300;
      color: #171717;
      line-height: 24px;
    }

    td,
    th {
      position: relative;
      vertical-align: top;
      border: 1px solid $tableBorderColor;
      position: relative;
      padding: 10px 24px;
      text-align: left;
      min-width: 100px;
      p {
        margin: 0;
        padding: 0;
      }
    }

    .selectedCell {
      position: relative;
      border: 1px solid $tableSelectedBorderColor;
      background-color: $tableSelectedCellBgColor;

      &::after {
        box-sizing: content-box;
        height: 100%;
        width: 100%;
        border: 1px solid $tableSelectedBorderColor;
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: 0px;
        z-index: 12;
        display: inline-block;
        pointer-events: none;
      }
    }

    .grip-column {
      position: absolute;
      top: -12px;
      left: -1px;
      width: 100%;

      > span {
        position: absolute;
        top: -11px;
        left: calc(100% + 2px);
        transform: translateX(-8px);
        display: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: $tableSelectedControlBgColor;
        font-size: 0;
        cursor: pointer;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 4px;
        transform: translateX(-1px);

        width: 4px;
        height: 4px;
        background-color: $tableBorderColor;
        border-radius: 50%;
        display: block;
      }

      &::after {
        box-sizing: content-box;
        content: "";
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: $tableHeaderBgColor;
        border: 1px solid $tableBorderColor;
        display: block;
      }

      &:hover {
        color: $tableSelectedBorderColor;

        > span {
          font-size: 14px;
        }
        .table_add_icon {
          display: block;
        }

        &::before {
          display: none;
        }

        &::after {
          background: $tableSelectedControlBgColor;
          border-color: $tableSelectedControlBgColor;
        }
      }

      &.last::after {
        border-top-right-radius: 3px;
      }

      &.selected::after {
        background: $tableSelectedControlBgColor;
        border-color: $tableSelectedControlBgColor;
      }
    }

    .grip-row {
      position: absolute;
      left: -12px;
      top: -1px;
      height: 100%;

      > span {
        transform: translateY(8px);
        position: absolute;
        left: -11px;
        bottom: 2px;
        z-index: 1;
        display: none;
        width: 16px;
        height: 16px;
        font-size: 0;
        cursor: pointer;
        background-color: $tableSelectedControlBgColor;
        border-radius: 50%;
      }

      &::before {
        content: "";
        position: absolute;
        left: -10px;
        bottom: -2px;
        width: 4px;
        height: 4px;
        background-color: $tableBorderColor;
        border-radius: 50%;
        display: block;
      }

      &::after {
        box-sizing: content-box;
        content: "";
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 10px;
        background: $tableHeaderBgColor;
        border: 1px solid $tableBorderColor;
        display: block;
      }

      &:hover {
        color: $tableSelectedBorderColor;

        > span {
          font-size: 14px;
          display: inline-block;
        }

        &::before {
          display: none;
        }

        &::after {
          background: $tableSelectedControlBgColor;
          border-color: $tableSelectedBorderColor;
        }
      }

      &.last::after {
        border-bottom-left-radius: 3px;
      }

      &.selected::after {
        background: $tableSelectedControlBgColor;
        border-color: $tableSelectedBorderColor;
      }
    }

    .grip-table {
      &::after {
        box-sizing: content-box;
        content: "";
        cursor: pointer;
        position: absolute;
        top: -12px;
        left: -12px;
        display: block;
        background: $tableHeaderBgColor;
        width: 10px;
        height: 10px;
        border: 1px solid $tableBorderColor;
        border-top-left-radius: 3px;
      }

      &:hover::after {
        background: $tableSelectedControlBgColor;
        border-color: $tableSelectedBorderColor;
      }

      &.selected::after {
        background: $tableSelectedControlBgColor;
        border-color: $tableSelectedBorderColor;
      }
    }
  }

  .column-resize-handle {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: -2px;
    width: 4px;
    pointer-events: none;
    background-color: $tableResizeHandleBgColor;
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
