html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#__next {
  height: 100%;
}
.preview-screen {
  height: 100%;
  flex-direction: column;
  display: flex;
}
.preview-header {
    height: 50px;
    background: #171717;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .logo {
      width: 170px;
      height: 50px;
    }
}
.preview-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}
.preview-sider {
  width: 320px;
  overflow: auto;
  padding-top: 36.5px;
  background: #F7F7F7;
  .ant-tree {
    background: #F7F7F7;
  }
}
.preview-content-wrap {
  flex: 1;
  overflow: auto;
  .preview-content {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }
  .article {
    // min-width: 500px;
    max-width: 900px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .article-breadcrumb {
    margin: 23px 0 39px;
    .ant-breadcrumb {
      font-size: 13px;
    }
  }
  .article-content {
    margin: 0 auto;
  }
  .article-anchor-top {
    display: none;
    .ant-anchor::before {
      display: none;
    }
  }
  .article-anchor-right {
    width: 300px;
    height: 100%;
    padding-top: 43px;
    border: none;
    position: sticky;
    top: 0;
    padding-right: 24px;
    flex: none;
    .ant-anchor::before {
      display: none;
    }
  }
  .drop-expand {
    font-family: LexendDeca-SNaNpxiBold;
    font-weight: 600;
    font-size: 13px;
    color: #171717;
    letter-spacing: 0;
    cursor: pointer;
  }
  .drop-anchor {
    max-height: 0!important;
    overflow: hidden;
    transition: max-height .3s ease-out;
    &.expand {
      max-height: 600px!important;
      transition: max-height .3s ease-in;
    }
  }
  .back-to-top {
    font-family: LexendDeca-Regular;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 20px;
    cursor: pointer;
  }
  .article-anchor-right, .article-anchor-top {
    display: flex;
    flex-direction: column;
    .ant-anchor-link-title {
      width: 94px;
      font-family: LexendDeca-Light;
      font-weight: 300;
      font-size: 13px;
      color: #444444!important;
      letter-spacing: 0;
    }
    .ant-anchor-link-active>.ant-anchor-link-title {
      font-family: LexendDeca-Regular;
      font-weight: 400;
      font-size: 13px;
      color: #171717!important;
      letter-spacing: 0;
    }
    .ant-anchor-ink.ant-anchor-ink-visible {
      display: none!important;
    }
  }
}
@media screen and (min-width: 1024px) {
  .preview-content-wrap {
    .article-anchor-top {
      display: none;
    }
    .drop-expand {
      margin-bottom: 28px;
    }
    .article-anchor-right {
      display: flex;
    }
  }
}
@media screen and (max-width: 1023px) {
  .preview-content-wrap {
    .article-anchor-top {
      display: flex;
      background: #F9F9F9;
      margin-bottom: 24px;
    }
    .drop-expand {
      padding: 6px 21px 6px 20px;
    }
    .article-anchor-right {
      display: none;
    }
  }
}